[submodule "shard0/pipelight"]
	path = shard0/pipelight
	url = https://github.com/meta-introspector/pipelight
[submodule "shard58/harbor"]
	path = shard58/harbor
	url = https://github.com/bakobiibizo/harbor.git
[submodule "monster"]
	path = monster
	url = /home/mdupont/experiments/monster
[submodule "zkmame"]
	path = zkmame
	url = https://github.com/meta-introspector/zkmame
[submodule "shard06-terpsichore/dpemotes"]
	path = shard06-terpsichore/dpemotes
	url = https://github.com/andristum/dpemotes.git
[submodule "shard06-terpsichore/mrm-dances"]
	path = shard06-terpsichore/mrm-dances
	url = https://github.com/MrM-Scripts/mrm-dances.git
[submodule "shard06-terpsichore/choreomaster"]
	path = shard06-terpsichore/choreomaster
	url = https://github.com/NetEase-GameAI/ChoreoMaster.git
[submodule "shard06-terpsichore/rpemotes-reborn"]
	path = shard06-terpsichore/rpemotes-reborn
	url = https://github.com/alberttheprince/rpemotes-reborn.git
[submodule "astronomy_submodules/shard_00/astropy"]
	path = astronomy_submodules/shard_00/astropy
	url = https://github.com/astropy/astropy.git
[submodule "astronomy_submodules/shard_00/python-skyfield"]
	path = astronomy_submodules/shard_00/python-skyfield
	url = https://github.com/skyfielders/python-skyfield.git
[submodule "astronomy_submodules/shard_00/astroML"]
	path = astronomy_submodules/shard_00/astroML
	url = https://github.com/astroML/astroML.git
[submodule "astronomy_submodules/shard_00/open_exoplanet_catalogue"]
	path = astronomy_submodules/shard_00/open_exoplanet_catalogue
	url = https://github.com/OpenExoplanetCatalogue/open_exoplanet_catalogue.git
[submodule "astronomy_submodules/shard_00/sunpy"]
	path = astronomy_submodules/shard_00/sunpy
	url = https://github.com/sunpy/sunpy.git
[submodule "astronomy_submodules/shard_00/apod-api"]
	path = astronomy_submodules/shard_00/apod-api
	url = https://github.com/nasa/apod-api.git
[submodule "astronomy_submodules/shard_00/poliastro"]
	path = astronomy_submodules/shard_00/poliastro
	url = https://github.com/poliastro/poliastro.git
[submodule "erdfa-namespace"]
	path = erdfa-namespace
	url = https://github.com/Escaped-RDFa/namespace.git
